* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
/* navbar part start  */
.toolitem2:hover .dropdown-menu{
  width: 600px;
}
.dropdown-item.active, .dropdown-item:active{
  background: #FFB200 !important;
  color: white !important;
 }
.navbar {
  height: 70px !important;
}
.navbar-brand img {
  height: 40px;
  width: 188px;
  /* margin-left: 180px; */
}
.container {
  max-width: 1440px !important;
  /* margin: auto; */
}

.navbar-nav button a {
  text-decoration: none;
  color: #ffffff;
}
.nav-item a {

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #626262;
}
.nav-item a:hover {
  color: #ff8202;
}
#navbarSupportedContent {
  justify-content: center;
}
.navbar-nav {
  list-style-type: none;
}
.navbar {
  background: white;
  /* padding: 3rem 2rem; */
  height: 0rem;

  font-size: 20px;
}
.nav-link {
  margin: 10px;
}
.navbar-nav button {
  margin-right: 100px;
  background-color: #50a2ca;
  border: 2px solid #50a2ca;
  padding: 5px 17px;
  margin-top: 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
/* POS TOOLTIP */
.pos-link {
  position: relative;
}
.pos-tooltip {
  position: absolute;
  /* left: 410px;
  top: 60px; */
  top: 100%;
  left: -150%;

  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}
.toolitem:hover .dropdown-menu {
  display: block;
}

.info-tip img {
  width: 22px;
}
.tool-p,
.tool-p a {
  font-size: 14px;
  font-weight: 600;
  color: #626262;
  margin: 0 !important;
}
.info-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  width: 124px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.158) 0px 3px 8px;
}
.toolitem .pos-tooltip::before {
  content: "";
  position: absolute;
  top: -15px;
  right: 428px;
  width: 40px;
  height: 50px;
  background: #fff;
  transform: rotate(45deg);
  z-index: -1;
}
/* Management Tooltip */
.manage-tooltip {
  position: absolute;
  left: -20%;
  top: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}
.toolitem2 {
  position: relative;
}
.toolitem2:hover .dropdown-menu {
  display: block;
}
.info-manage-tip img {
  width: 22px;
}
.manage-tool-p {
  font-size: 14px;
  font-weight: bold;
  margin: 0 !important;
  color: #626262;
}
.info-manage-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  width: 117px;
  height: 103px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.toolitem2 .manage-tooltip::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 10%;
  width: 40px;
  height: 50px;
  background: #fff;
  transform: rotate(45deg);
  z-index: -1;
}

/* navbar part end    */
.container {
  max-width: 1440px !important;
  margin: auto;
}
.our-team {
  font-size: 70px;
  margin-top: 143px;
  margin-bottom: 60px;
}
.diamond-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.rainbow-box {
  border: 1px solid transparent;
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0px 5px;
}
.rainbow-box p {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 0px;
}
.member-list-container {
  padding: 158px 0px !important;
}
.member-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
/* .member-info {
  height: 320px;
} */
.team-member {
  margin-top: -93px;
}
.member-info {
  max-width: 338px;
  margin: auto;
}
.member-img {
  background: linear-gradient(
    228.52deg,
    #50a2ca 0%,
    #007db9 52.61%,
    #004668 100%
  );
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}
.member-img img {
  width: 100%;
  height: 205px !important;
}
.member {
  margin-top: 130px;
}
/* .member-img15 img {
  width: 401px;
  height: 166px;
}
.member-img14 img {
  width: 372px;
  height: 178px;
} */
.member-info {
  width: 100%;
}
.member-data {
  margin-top: -29px;
}
.member-data h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #626262;
}
.member-data p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #50a2ca;
}

.banner {
  max-width: 1920px !important;
  margin: auto;
}
/* Footer */
.box-soluation {
  background-image: url(../images/nav-footer-img/f4.png);
  color: white;
  background-size: cover;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}
.businessSolution-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-2 a {
  text-decoration: none;
}
.box-2 button {
  border: none;
  outline: none;
  background: #faf8f6;
  color: #080808;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}
/* Footer-2 */
.footer {
  background-image: url(../images/nav-footer-img/f3.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 60px 0px;
}
.footer h4 {
  margin: 20px 0px 40px 0px;
  color: #ff8202;
}
.footer-left img {
  width: 200px;
  margin: 20px 0px 40px 0px;
}
.footer-left p {
  font-size: 15px;
}
.footer ul {
  padding: 0px;
}
.footer ul li {
  list-style: none;
  margin-bottom: 5px;
}
.footer ul li a {
  text-decoration: none;
  color: azure;
}
.contactIcon {
  width: 20px;
}
.social a {
  display: inline-block;
  margin: 15px 15px 0px 0px;
  font-size: 25px;
  text-align: center;
  color: #dadada;
  transition: all 0.5s ease;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.social a:hover {
  color: black;
  background-color: #ffffff;
}
.fa-facebook-f:hover {
  color: blue;
}
.fa-instagram:hover {
  color: rgba(255, 8, 0, 0.983);
}
.fa-twitter:hover {
  color: rgb(9, 177, 243);
}
.fa-linkedin:hover {
  color: rgb(34, 44, 246);
}

.location-container iframe {
  width: 100%;
}
.carousel-item p {
  max-width: 600px;
}
@media screen and (max-width: 767px) {
  .member-list {
    grid-template-columns: 1fr;
  }
  .our-team {
    font-size: 45px;
  }
  .member-info {
    max-width: 338px;
    margin: auto;
  }
  .diamond-content {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 10px;
  }
}

@media screen and (max-width: 365px) {
  .our-team {
    font-size: 30px;
  }
  .member-list {
    grid-template-columns: 1fr;
  }
  .diamond-content {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1120px) {
  .member-list {
    grid-template-columns: 1fr 1fr;
  }
  .our-team {
    font-size: 55px;
  }
  .member-info {
    max-width: 338px;
    margin: auto;
  }
  .diamond-content {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 10px;
  }
}


@media only screen and (max-width: 992px) {
  .box-2 {
    width: 90% !important;
  }
  .container {

    gap: 20px;
  }
  .frontend {
    position: block;
    margin-left: 0px;
  }
  .backend {
    position: block;
    margin-left: 0px;
  }
  .toggle-wraper {
    width: 90%;
  }

  .dropdown-menu.pos-tooltip .tool,
  .dropdown-menu.manage-tooltip .tool-manage {
    flex-wrap: wrap;
  }

  .toolitem:hover .dropdown-menu {
    position: absolute;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0%;
  }
  .toolitem2:hover .dropdown-menu {
    position: absolute;

    width: 100%;
    text-align: center;
    left: 0%;
    height: 50vh;
    overflow: scroll;
  }
  .card-1 {
    width: 100%;

  }
  .navbar {
    height: 100px !important;
  }
  .hero-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 30vh;
  }
  .custom-product-slider .carousel-indicators {
    margin-top: 50px;
    justify-content: center !important;
  }
  .custom-product-slider .slider-nav .carousel-control-next,
  .carousel-control-prev {
    display: none !important;
  }
  .custom-product-slider .carousel-item img {
    width: 150px !important;
    height: 150px !important;
    object-fit: cover;
  }
  .custom-product-slider .common-carousel-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto !important;
  }
  .custom-product-slider .item {
    gap: 12px;
    padding: 60px 0;
  }
  .custom-product-slider .carousel-indicators {
    margin-left: 0 !important;
  }
  .custom-product-slider .carousel-item p {
    height: 150px;
    overflow-y: scroll;
  }

  .toolitem .pos-tooltip::before {
    left: 45%;
  }
  .toolitem2 .manage-tooltip::before {
    left: 50%;
  }

  .box {
    margin: 0 auto;
  }
}
